@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  padding: 2.2rem;
  margin-bottom: 4rem;
}
.desktop-nav {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0;
}
.logbox {
  background-color: blue;
}
.logbox img {
  margin-top: 0.5rem;
}
.desktop-nav button {
  background-color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}
.desktop-nav button:hover {
  color: #fb5859;
}
.desktop-nav button:nth-child(4) {
  background-color: #fb5859;
  color: white;
  border-radius: 0.5rem;
}
.desktop-nav button:nth-child(5) {
  display: none;
}

/* mobile nav */
.mobile {
  width: 100%;
  margin: auto;
  height: 100vh;
  background-color: hsla(229, 25%, 25%, 0.859);
  padding: 2rem;
  display: none;
}
.mobile-nav {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0;
  margin-bottom: 1rem;
  gap: auto;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav {
  color: white;
}
.mobile-nav button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.mobile-nav button img {
  width: 1rem;
}
.nav-bottom {
  text-align: center;
}
.nav-bottom button {
  font-size: 25px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.nav-bottom .login {
  font-size: 25px;
  background-color: transparent;
  border: 1px solid white;
  color: white;

  padding: 0.5rem 7rem 0.5rem 7rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}
.mobile hr {
  margin-bottom: 0.5rem;
  color: #4a506a;
}
.nav-bottom div {
  margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
  .desktop-nav button:nth-child(5) {
    display: block;
  }
  .desktop-nav button:nth-child(1),
  .desktop-nav button:nth-child(2),
  .desktop-nav button:nth-child(3),
  .desktop-nav button:nth-child(4) {
    display: none;
  }
  .desktop {
    gap: 4.1rem;
  }
}

/* hero section */
.hero {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 3rem;
}
.hero-left {
  padding: 2rem;
  width: 700px;
}

.hero-heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero-left p {
  font-weight: 400;
  margin-bottom: 2.5rem;
}
.hero-buttons {
  display: flex;
  gap: 1.7rem;
}
.hero-left button {
  background-color: #5166e0;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
hero-right img {
  width: 400px;
}
.hero-left .second-btn {
  background-color: #fb5859;
  color: white;
}

@media (max-width: 1080px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .hero-left {
    width: 100%;
  }
  .hero-left p {
    width: 70%;
  }

  .hero-right {
    width: 100%;
  }
  .hero-right img {
    width: 100%;
  }

  .feature-list {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .hero-right img {
    width: 97%;
  }
  .hero-left p {
    width: 100%;
  }

  .hero-heading {
    font-size: 1.7rem;
  }
  .hero-left p {
    font-size: 0.99999rem;
  }
  .desktop {
    margin-bottom: -1rem;
  }
  .hero-left button {
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }
 
}
.Features {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 2.2rem;
}
.Features h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.Features p {
  max-width: 600px;
  text-align: center;
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}
.feature-list {
  display: flex;
  gap: 10rem;
}
.feature-list .lists {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.lists hr {
  display: none;
  margin-top: 1rem;
  border: 1px solid #ff6347;
}
.list1 hr {
  display: block;
}
.lists:hover hr {
  display: block;
  .list1 hr {
    display: none;
  }
}

.feature-list {
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.display-area {
  max-width: 1000px;
  margin-top: 3rem;
  padding: 2rem;
}

.component {
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}

.image-box img {
  max-width: 600px;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box h3 {
  color: #333;
}

.text-box p {
  font-size: 1rem;
  color: #666;
  text-align: left;
}

/* Smooth fade-in effect */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1080px) {
  .feature-list {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .component {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .image-box img {
    max-width: 500px;
    margin-left: -5.5rem;
  }
  .text-box h3 {
    color: #333;
    font-size: 1.5rem;
  }
  .text-box p {
    color: #333;
    font-size: 1rem;
  }

}

@media (max-width: 450px) {
  .feature-list .lists {
    font-size: 1.2rem;
    text-align: left;
  }
  .image-box img {
    width: 100%;
    margin: 0rem;
  }
  .Features h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .Features p {
    font-size: 1rem;
    color: #333;
    text-align: center;
  }
  .hero {
    height: 90vh;
  }
  .desktop{
    gap:6rem;
  }
}

/* extensions */

.extensions {
  max-width: 1200px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.2rem;
}
.extensions h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.extensions .paragraph {
  max-width: 600px;
  text-align: center;
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}
.browsers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}

.browser {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  padding: 2.5rem 2em;
  border-radius: 10px;
}
.icon-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.browser button {
  background-color: #5166e0;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1080px) {
  .browsers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
  }
}
@media (max-width: 682px) {
  .browsers {
    grid-template-columns: repeat(1, 1fr);
  }
   .extensions h2{
    font-size: 1.5rem;
  }
  .FAQ faq-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .FAQ  .faq-para {
    max-width: 600px;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .browsers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
  }
  .extensions h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .extensions .paragraph {
    max-width: 600px;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .browser button {
    background-color: #5166e0;
    color: white;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .browser {
    padding: 1.5rem 1.5em;
  }
  .Features {
    margin-bottom: -2rem;
  }
  .FAQ .faq-heading {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .FAQ .faq-para{
    font-size: 1rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
  }
  
}

/* Frequently asked questions */

.FAQ {
  max-width: 1200px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.2rem;
}
.FAQ h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.FAQ p {
  max-width: 600px;
  text-align: center;
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}


/* accordian */

.accordion {
  background-color: #f9f9f9;
  padding: 12px 20px;

  overflow: hidden;
  transition: all 0.3s ease;
}

.accordion h4 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0;
}

.accordion p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-top: 10px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}



.icon{
  margin-right: 0.5rem;
  transition: transform 0.2s;
}
.icon.active{
transform: rotate(-180deg);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0;
}
.answer p{
  text-align: left;
}
.answer.active {
  max-height: 200px;
  padding: 10px 0;
}